@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

/*@font-face {
	font-family: 'Cooper Hewitt';
	src: url('./Fonts/CooperHewitt/CooperHewitt_Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}*/

* {
	margin: 0px;
	padding: 0px;
}

html {
	width: 100%;
	height: 100%;
	background-color: rgb(2, 83, 126);
}

body {
	overflow: hidden;
	font-family: Arial, sans-serif;
	background-color: rgba(2, 83, 126, 0);
	color: rgb(232,231,225);
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

nav {
	height: 100px;
	padding-left: 60px;
	padding-right: 60px;
	/*border: 1px solid teal;*/
}
	#nav--settings {
		display:inline-block;
		width: 60px;
		height: 100%;
		background-image: url("./Images/wrench_icon.png");
		background-position: 60px 0px;
		/*border: 1px solid green;*/
	}
	#nav--settings:hover {
		background-position: 0px 0px;
	}
	#nav--recent {
		display: inline-block;
		width: 60px;
		height: 100%;
		float: right;
		background-image: url("./Images/recent_icon.png");
		background-position: 60px 0px;
		/*border: 1px solid pink;*/
	}
	#nav--recent:hover{
		background-position: 0px 0px;
	}
	/*.tridot-spacing {
		display: block;
		margin-top: 8px;
		margin-left: auto;
		margin-right: auto;
		height: 8px;
		width: 8px;*/
		/*border: 1px solid orange;*/
	/*}
	.tridot-spacing:first-child {
		margin-top: 30px;
	}
		.dot {
			background-color: rgb(146, 154, 168);
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}*/

#title {
	/* This clear is used to clear the float right of the recent button*/
	clear: both;
	display: block;
	opacity: 0;
	width: 500px;
	transition: opacity 400ms ease-out;
	/*border: 1px solid cyan;*/
}
#title.visible {
	opacity: 1;
}
#title.readjust {
	height: 132px;
}
	#title--get {
		display: inline-block;
		background-image: url("./Images/getWeather_img.png");
		width: 119px;
		height: 94px;
		margin-right: 10px;
		transition: background-position 400ms ease-out, margin-right 800ms ease-in-out;
	}
	#title--get.visible {
		background-position: -119px 0px;
	}
	#title--get.closeGap {
		margin-right: 0px;
	}
	#title--weather {
		display: inline-block;
		background-image: url("./Images/getWeather_img.png");
		margin-left: 10px;
		width: 311px;
		height: 94px;
		background-position: -549px 0px;
		transition: background-position 400ms ease-out, margin-left 800ms ease-in-out;
	}
	#title--weather.visible {
		background-position: -239px 0px;
	}
	#title--weather.closeGap {
		margin-left: 0px;
	}
	#title--line {
		display: block;
		width: 2px;
		margin-top: -100px;
		overflow: hidden;
		padding-left: 154px;
		transition: margin-top 500ms ease-in;
	}
	#title--line.drop {
		margin-top: 70px;
	}
		#title--line div {
			background-color: white;
			height: 94px;
			transition: height 500ms ease-in;
			/*border: 1px dashed purple;*/
		}
		#title--line div.shrink {
			height: 1px;
		}
		#title--line div.hidden {
			visibility: hidden;
		}

#puddle {
	display: block;
	margin-top: -2px;
	margin-bottom: -38px;
	width: 450px;
	/* By setting font-size to 0, all space between inline-blocks is removed */
	font-size: 0;
	/*border: 1px dashed teal;*/
}
#puddle.remove {
	display: none;
}
#puddle div {
	display: inline-block;
	overflow: hidden;
	height: 2px;
}
#puddle div div {
	opacity: 0;
	background-color: white;
	height: 2px;
	transition: width 500ms ease-out;
}
#puddle div div.visible {
	opacity: 1;
}
	#puddle--left {
		width: 130px;
	}
		#puddle--left div {
			float: right;
			width: 1px;
		}
		#puddle--left div.spread {
			width: 130px;
		}
	#puddle--right {
		width: 320px;
	}
		#puddle--right div {
			float: left;
			width: 1px;
		}
		#puddle--right div.spread {
			width: 320px;
		}

#search {
	display: inline-block;
	position: relative;
	z-index: 1;
	opacity: 0;
	/*margin-top: -60px;*/
	width: 450px;
	/*border: 1px solid yellow;*/
	transition: opacity 600ms ease-in;
}
#search.visible {
	opacity: 1;
}
	#search--form-input {
		color: white;
		font-family: 'Acari Sans', Arial, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 30px;
		text-align: center;
		border-style: solid;
		border-color: white;
		border-width: 0px 0px 2px 0px;
		overflow: hidden;
		width: 100%;
		background-color: rgba(2, 83, 126, 0.5);
	}
	#search--form-input::placeholder {
		color: grey;
		font-family: 'Acari Sans', Arial, sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 30px;
	}
	#search--form-input:hover, #search--form-input:focus {
		background-color: rgba(1, 50, 100, 0.5);
	}
	#search--form-submit {
		display: none;
	}

#search--suggestions {
	display: inline-block;
	position: relative;
	/*flex-direction: column;*/
	width: 100%;
	height: 0px;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	text-align: left;
	margin: 0px;
	padding: 0px;
	left: 0px;
	transition: height 400ms ease-out;
	overflow: hidden;
	/*border: 1px dashed pink;*/
}
	#search--suggestions button {
		font-family: 'Acari Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 20px;
		text-align: left;
		color: white;
		padding-left: 20px;
		height: 40px;
		width: 100%;
		border: none;
		background-color: rgb(34, 43, 56);
	}
	#search--suggestions button:hover {
		background-color: rgb(59, 75, 98);
	}
		.search--suggestions-item {
			display: block;
			/*flex-direction: row;*/
			white-space: nowrap;
			/*border: 1px solid red;*/
			/*background-color: rgb(34, 43, 56);*/
			overflow: hidden;
			height: 40px;
			border-left: 2px solid white;
			border-right: 2px solid white;
		}
		.search--suggestions-item:last-child {
			border-bottom: 2px solid white;
		}
			/*.search--suggestions-item-single {
				font-family: 'Acari Sans', sans-serif;
				font-weight: 300;
				font-style: normal;
				font-size: 18px;
				text-align: left;
			}*/
			/*.search--suggestions-item-address {
				display: inline-block;
				border: 1px solid cyan;*/
				/* vertical-align prevents the inline-blocks from becoming misaligned */
				/* vertical-align: top; */
				/*width: 50%;
				height: 40px;
				line-height: 40px;
			}
				.search--suggestions-item-address-half {
					display: inline-block;
					border: 1px solid green;
				}
				.search--suggestions-item-address-full {
					display: inline-block;
					border: 1px solid white;
				}*/

	#states {
		display: inline-block;
		position: relative;
		z-index: 1;
		white-space: nowrap;
		width: 0px;
		overflow: hidden;
		transition: width 200ms ease-out, opacity 200ms linear;
		/*border: 1px solid lime;*/
	}
	#states div {
		display: inline-block;
		vertical-align: top;
		white-space: normal;
	}
	#states div div {
		display: block;
	}
		#states--pivot {
			overflow: hidden;
			width: 20px;
			margin-right: -5px;
			/*border: 1px solid purple;*/
		}
			#states--pivot-triangle {
				width: 0px;
				height: 0px;
				border-top: 20px solid transparent;
				border-right: 20px solid rgb(34, 43, 56);
				border-bottom: 20px solid transparent;
			}
		#states--results {
			overflow: auto;
			width: 250px;
			background-color: rgb(34, 43, 56);
		}
			.states--results-item {
				font-family: 'Acari Sans', sans-serif;
				font-weight: 500;
				font-style: normal;
				font-size: 20px;
				color: white;
				height: 40px;
				width: 56px;
				margin: 10px;
				border: none;
				background-image: linear-gradient(130deg, rgb(0, 128, 255), rgb(34, 43, 56));
			}
			.states--results-item:hover {
				background-image: linear-gradient(130deg, rgb(0, 128, 255), rgb(143, 0, 179));
			}

#data {
	position: absolute;
	display: block;
	font-size: 0px;
	z-index: 0;
	width: 100%;
	height: 400px;
	bottom: 0px;
}
	#data--bg {
		position: absolute;
		display: block;
		z-index: 0;
		width: 100%;
		height: 400px;
		bottom: 0px;
	}
	#data--addressBg {
		position: relative;
		display: block;
		z-index: 0;
		width: 30%;
		height: 120px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 39px;
		border-bottom-left-radius: 35px;
		border-bottom-right-radius: 35px;
		background-color: rgb(34, 43, 56);
		overflow: hidden;
	}
		#data--value-address {
			font-family: 'AcariSans', sans-serif;
			font-weight: 700;
			font-style: normal;
			font-size: 42px;
			color: white;
			height: 100%;
			width: 100%;
			margin-top: 38px;
			text-align: center;
		}
	#data--columnWrap {
		position: absolute;
		display: block;
		height: 240px;
		z-index: 1;
		bottom: 0px;
		/*background-color: black;*/
		width: 100%;
	}
		#data--column1, #data--column2, #data--column3 {
			position: relative;
			display: inline-block;
			overflow: hidden;
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
			height: 100%;
		}
		#data--column1, #data--column3 {
			/*background-color: blue;*/
			width: 33.3%
		}
		#data--column2 {
			/*background-color: red;*/
			width: 33.4%;
		}
		/*#data--column1 {
			padding-left: 70px;
		}
		#data--column3 {
			padding-right: 70px;
		}*/
		#data--column1-top {
			position: relative;
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-around;
			overflow: hidden;
			height: 118px;
			width: 80%;
			float: right;	/* Float column1 innards to the right and column3 innards to the left. */
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
			#data--column1-top span {
				position: relative;
				display: flex;
				width: 2px;
				height: 100%;
				background-color: black;
				margin-left: 10px;
				margin-right: 10px;
			}
			#data--column1-temp {
				display: flex;
				font-family: 'Acari Sans', sans-serif;
				font-weight: 300;
				font-style: normal;
				font-size: 50px;
				color: black;
				align-items: center;
			}
			#data--column1-other {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				font-family: 'Acari Sans', sans-serif;
				font-weight: 300;
				font-style: italic;
				font-size: 19px;
				color: black;
				overflow: hidden;
				height: 100%;
			}
		#data--column1-bottom {
			float: right;
			height: 60px;
			width: 80%;
			margin-top: 6px;
			overflow: hidden;
			/*border: 1px solid red;*/
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
		}
			#data--highLow-values {
				height: 49px;
				font-family: 'Acari Sans', sans-serif;
				font-weight: 500;
				font-style: normal;
				font-size: 26px;
				color: black;
			}
				#data--highLow-values p {
					height: 49px;
					line-height: 49px;
					white-space: nowrap;
				}
				#data--value-low {
					float: left;
				}
				#data--value-high {
					float: right;
				}
			#data--highLow-meter {
				display: block;
				position: relative;
				height: 11px;
			}
				#data--highLow-bar {
					display: block;
					position: absolute;
					width: 100%;
					height: 4px;
					bottom: 0px;
					background-color: black;
				}
				#data--highLow-notches {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
					height: 10px;
					font-size: 0px;
					-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
					-moz-box-sizing: border-box;    /* Firefox, other Gecko */
					box-sizing: border-box;         /* Opera/IE 8+ */
				}
				#data--highLow-notches span {
					width: 2px;
					height: 6px;
					background-color: black;
				}
				#data--highLow-notches span:first-child, #data--highLow-notches span:last-child {
					width: 4px;
					height: 10px;
				}
			#data--highLow-marker {
				position: absolute;
				overflow: visible;
				/*left: 95%;*/
				top: 0;
				width: 0;
				height: 0;
				/*border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-top: 7px solid red;*/
				/*background-color: red;*/
			}
			/* This extra div holds the marker's triangle shape */
			#data--highLow-marker div {
				position: relative;
				overflow: visible;
				margin-left: -7px;
				width: 0px;
				height: 0px;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-top: 7px solid red;
			}
	#data--value-desc {
		font-family: 'Acari Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 40px;
		color: black;
		margin-top: 27px;
		width: 100%;
		text-align: center;
	}
	#data--column2-asOf {
		font-family: 'Acari Sans', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 20px;
		color: black;
		margin-top: 27px;
		width: 100%;
		text-align: center;
	}
	#data--value-time {
		font-family: 'Acari Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: 32px;
		color: black;
		margin-top: 27px;
		width: 100%;
		text-align: center;
	}
	#data--column3-left {
		position: relative;
		display: inline-block;
		width: 40%;
		height: 100%;
	}
	#data--column3-left p { /* Temp readout */
		position: absolute;
		width: 100%;
		margin-top: 6px;
		text-align: center;
		font-family: 'Acari Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 30px;
		color: black;
	}
		#data--windGaugeBorder {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 154px;
			height: 154px;
			background-color: white;
			border-radius: 50%;
		}
		#data--windGaugeBorder p { /* North letter */
			position: absolute;
			font-family: 'Acari Sans', sans-serif;
			font-weight: 500;
			font-style: normal;
			font-size: 18px;
			color: grey;
			width: 100%;
			text-align: center;
			top: 6px;
		}
			#data--windGaugeBG {
				position: absolute;
				overflow: hidden;
				top: 2px;
				left: 2px;
				width: 150px;
				height: 150px;
				background-color: rgb(34, 43, 56);
				border-radius: 50%;
			}
				#data--windGaugeNeedle {
					position: absolute;
					left: 69px;
					transform-origin: bottom center;
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-bottom: 7px solid transparent;
					border-top: 68px solid red;
				}
			#data--windGaugeCenter {
				position: absolute;
				left: 50%;
				top: 50%;
				width: 10px;
				height: 10px;
				background-color: white;
				border-radius: 50%;
				margin: -5px 0 0 -5px;
			}

	#data--column3-right {
		display: inline-block;
		width: 60%;
		height: 100%;
	}
	#data--column3-right img {
		position: absolute;
	}
	#data--sunrise {
		position: relative;
		display: block;
		top: 0px;
		width: 100%;
		height: 40px;
		/*background-color: red;*/
	}
	#data--sunrise p {
		position: absolute;
		font-family: 'Acari Sans', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 24px;
		left: 66px;
		color: black;
		top: 2px;
		white-space: nowrap;
	}
	#data--sunset {
		position: relative;
		display: block;
		width: 100%;
		height: 40px;
		margin-top: 16px;
		/*background-color: orange;*/
	}
	#data--sunset p {
		position: absolute;
		font-family: 'Acari Sans', sans-serif;
		font-weight: 400;
		font-style: italic;
		font-size: 24px;
		left: 66px;
		color: black;
		top: -2px;
		white-space: nowrap;
	}
	#data--timeUntil {
		position: relative;
		display: block;
		width: 100%;
		height: 80px;
		margin-top: 16px;
		/*background-color: yellow;*/
	}
	#data--timeUntil-time {
		position: absolute;
		font-family: 'Acari Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 24px;
		width: 80%;
		white-space: nowrap;
		text-align: center;
		color: black;
		top: 2px;
	}
	#data--timeUntil-nextEvent {
		position: absolute;
		font-family: 'Acari Sans', sans-serif;
		font-weight: 300;
		font-style: italic;
		font-size: 18px;
		width: 80%;
		text-align: center;
		white-space: nowrap;
		color: black;
		top: 30px;
	}

#recent {
	position: absolute;
	z-index: 2;
	top: 0px;
	right: 0px;
	width: 500px;
	height: 100%;
	background-color: rgb(34, 43, 56);
	transition: right 300ms ease-out;
}
#recent.collapsed {
	right: -500px;
}
#recent--addResult {
	display: none;
}
#recent--header {
	height: 60px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-bottom: 2px solid grey;
}
#recent--header p {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 32px;
	/*margin-right: 0px;*/
	padding-top: 15px;
	padding-left: 22px;
	width: 75%;
	height: 100%;
	/*border: 1px solid white;*/
}
#recent--header button {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 50px;
	margin-left: 16px;
	color: grey;
	background-color: rgb(34, 43, 56);
	width: 15%;
	height: 100%;
	border: none;
	/*border: 1px solid green;*/
}
#recent--header button:hover {
	color: white;
}
#recent--searches {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
	/*border: 1px solid yellow;*/
}
.recent--wrapper {
	position: relative;
	height: 90px;
	width: 100%;
	margin-bottom: 14px;
}
.bg {
	height: 90px;
	width: 394px;
	position: absolute;
	float: right;
	z-index: 0;
	right: 0px;
	margin-bottom: 14px;
	border-top-left-radius: 45px;
	border-bottom-left-radius: 45px;
	background-color: rgba(86, 102, 95, 0.8);
	transition: width 200ms ease-in-out,border-bottom-left-radius 200ms ease-in-out;
}
.recent--wrapper:hover .bg {
	width: 100%;
	border-bottom-left-radius: 0;
}
.temp {
	float: left;
	position: relative;
	z-index: 1;
	margin-left: 60px;
	margin-top: 6px;
	border: 2px solid white;
	border-radius: 50%;
	width: 76px;
	height: 74px;

	/* Values to be added through js */
	background-color: rgb(245, 174, 32);
}
.temp p {
	position: relative;
	z-index: 1;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 34px;
	color: black;
	text-align: center;
	margin-top: 18px;
}
.state {
	float: right;
	display: inline-block;
	position: absolute;
	z-index: 1;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 127px;
	color: rgba(255, 255, 255, 0.2);
	line-height: 80%;
	height: 90px;
	overflow: hidden;
	vertical-align: text-top;
	right: 0px;
	padding: 0;
	/*border: 1px solid lime;*/
}
.city {
	float: left;
	display: inline-block;
	position: relative;
	z-index: 1;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	margin-top: 55px;
	/*border: 1px solid orange;*/
}
.timestamp {
	position: absolute;
	top: 36px;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 12px;
	color: white;
}

#settings {
	position: absolute;
	z-index: 2;
	width: 500px;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgb(34, 43, 56);
	transition: left 300ms ease-out;
}
#settings.collapsed {
	left: -500px;
}
#settings--header {
	height: 60px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-bottom: 2px solid grey;
}
#settings--header p {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	text-align: right;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 32px;
	/*margin-right: 0px;*/
	padding-top: 15px;
	padding-right: 22px;
	width: 75%;
	height: 100%;
	/*border: 1px solid white;*/
}
#settings--header button {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 50px;
	margin-right: 16px;
	color: grey;
	background-color: rgb(34, 43, 56);
	width: 15%;
	height: 100%;
	border: none;
	/*border: 1px solid green;*/
}
#settings--header button:hover {
	color: white;
}
#settings--options {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: auto;
	border: 1px solid yellow;
}

#error {
	width: 100%;
	font-family: "Acari Sans", Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
}
