@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans';
	src: url('./Fonts/AcariSans/AcariSans_MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('./Fonts/CooperHewitt/CooperHewitt_Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	width: 100%;
	height: 100%;
	background-color: rgb(2, 83, 126);
}

body {
	margin: 0px 3% 15px 3%; /* margin-top right bottom left*/
	height: 90%;
	font-family: Arial, sans-serif;
	background-color: rgba(2, 83, 126, 0);
	color: rgb(232,231,225);
}

nav {
	height: 60px;
}

input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
	#title {
		display: block;
		/*justify-content: center;*/
		/*align-items: center;*/
		/*flex-direction: row;*/
		opacity: 0;
		transition: opacity 400ms ease-out;
		/*border: 1px solid cyan;*/
	}
		#title--get {
			display: inline-block;
			background-image: url("./Images/getWeather_img.png");
			width: 119px;
			height: 94px;
			margin-right: 10px;
			transition: background-position 400ms ease-out, margin-right 800ms ease-in-out;
		}
		#title--weather {
			display: inline-block;
			background-image: url("./Images/getWeather_img.png");
			margin-left: 10px;
			width: 311px;
			height: 94px;
			background-position: -549px 0px;
			transition: background-position 400ms ease-out, margin-left 800ms ease-in-out;
		}
		#title--dividerContainer {
			display: block;
			width: 2px;
			margin-top: -100px;
			overflow: hidden;
			padding-right: 190px;
			transition: margin-top 500ms ease-in;
		}
			#title--dividerLine {
				/*text-align: center;
				align-items: center;*/
				display: block;
				background-color: rgb(255,255,255);
				width: 2px;
				height: 94px;
				transition: height 500ms ease-in;
				/*border: 1px dashed purple;*/
			}

	#puddle {
		display: block;
		/*flex-direction: row-reverse;*/
		margin-top: -18px;
		margin-bottom: -44px;
		width: 450px;
		/*border: 1px dashed teal;*/
	}
		#puddle--left {
			display: inline-block;
			overflow: hidden;
			width: 130px;
			height: 2px;
		}
			#puddle--left-line {
				opacity: 0;
				background-color: white;
				float: right;
				width: 1px;
				height: 2px;
				transition: width 500ms ease-out;
			}
		#puddle--right {
			display: inline-block;
			overflow: hidden;
			margin-left: -6px;
			width: 320px;
			height: 2px;
		}
			#puddle--right-line {
				opacity: 0;
				background-color: white;
				float: left;
				width: 1px;
				height: 2px;
				transition: width 500ms ease-out;
			}

	#search {
		display: inline-block;
		opacity: 0;
		/*margin-top: -60px;*/
		width: 450px;
		/*border: 1px solid yellow;*/
		transition: opacity 600ms ease-in;
	}
		#search--form-input {
			overflow: hidden;
			font-family: 'Acari Sans', Arial, sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: 30px;
			text-align: center;
			border-style: solid;
			border-color: white;
			border-width: 0px 0px 2px 0px;
			width: 100%;
			background-color: rgba(2, 83, 126, 0.5);
			color: white;
		}
		#search--form-input::placeholder {
			color: grey;
			font-family: 'Acari Sans', Arial, sans-serif;
			font-weight: 300;
			font-style: italic;
			font-size: 30px;
		}
		#search--form-input:hover {
			background-color: rgba(1, 50, 100, 0.5);
		}
		#search--form-input:focus {
			background-color: rgba(1, 50, 100, 0.5);
		}
		#search--form-submit {
			display: none;
		}

#search--suggestions {
	display: inline-block;
	/*flex-direction: column;*/
	width: 100%;
	height: 0px;
	font-family: 'Acari Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 18px;
	text-align: left;
	margin: 0px;
	padding: 0px;
	transition: height 400ms ease-out;
	overflow: hidden;
	/*border: 1px dashed pink;*/
}
	#search--suggestions button {
		font-family: 'Acari Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 20px;
		text-align: left;
		color: white;
		padding-left: 20px;
		height: 40px;
		width: 100%;
		border: none;
		background-color: rgb(34, 43, 56);
	}
	#search--suggestions button:hover {
		background-color: rgb(59, 75, 98);
	}
		.search--suggestions-item {
			display: block;
			/*flex-direction: row;*/
			white-space: nowrap;
			/*border: 1px solid red;*/
			/*background-color: rgb(34, 43, 56);*/
			overflow: hidden;
			height: 40px;
			border-left: 2px solid white;
			border-right: 2px solid white;
		}
		.search--suggestions-item:last-child {
			border-bottom: 2px solid white;
		}
			/*.search--suggestions-item-single {
				font-family: 'Acari Sans', sans-serif;
				font-weight: 300;
				font-style: normal;
				font-size: 18px;
				text-align: left;
			}*/
			/*.search--suggestions-item-address {
				display: inline-block;
				border: 1px solid cyan;*/
				/* vertical-align prevents the inline-blocks from becoming misaligned */
				/* vertical-align: top; */
				/*width: 50%;
				height: 40px;
				line-height: 40px;
			}
				.search--suggestions-item-address-half {
					display: inline-block;
					border: 1px solid green;
				}
				.search--suggestions-item-address-full {
					display: inline-block;
					border: 1px solid white;
				}*/

	#states {
		display: inline-block;
		white-space: nowrap;
		width: 0px;
		overflow: hidden;
		transition: width 200ms ease-out, opacity 200ms linear;
		/*border: 1px solid lime;*/
	}
		#states--pivot {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			overflow: hidden;
			width: 20px;
			margin-right: -5px;
			/*border: 1px solid purple;*/
		}
			#states--pivot-triangle {
				width: 0px;
				height: 0px;
				border-top: 20px solid transparent;
				border-right: 20px solid rgb(34, 43, 56);
				border-bottom: 20px solid transparent;
			}
		#states--results {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			overflow: auto;
			width: 250px;
			background-color: rgb(34, 43, 56);
		}
			.states--results-item {
				height: 40px;
				width: 56px;
				margin: 10px;
				border: none;
				font-family: 'Acari Sans', sans-serif;
				font-weight: 500;
				font-style: normal;
				font-size: 20px;
				color: white;
				background-image: linear-gradient(130deg, rgb(0, 128, 255), rgb(143, 0, 179));
			}
			/*.states--results-item:first-child{
				margin: 20px 5px 5px 5px;
			}
			.states--results-item:last-child{
				margin: 5px 5px 20px 5px;
			}*/

#table {
	display: grid;
	grid-template-rows: 15% 85%;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
}
#table div {
}
	#table--head-data {
		display: grid;
		grid-template-columns: 149px 40%;
		padding-top: 5px;
		padding-left: 10px;
		padding-bottom: 10px;
		width: 100%;
	}
	#table--body {
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
	}
	#table--body div {
		border: white solid 1px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
		.table--head-data-desc {
			font-family: 'Acari Sans', Arial, sans-serif;
			font-size: 24px;
			font-weight: 500;
			font-style: italic;
		}
		.table--head-data-output {
			font-family: 'Acari Sans', Arial, sans-serif;
			font-size: 16px;
			font-weight: 300;
			font-style: normal;
			padding-top: 7px;
			padding-left: 5px;
		}
		.table--body-data {
			display: grid;
			grid-template-rows: 32px 32px;
		}
			.table--body-data-desc {
				font-family: 'Acari Sans', Arial, sans-serif;
				font-size: 24px;
				font-weight: 500;
				font-style: italic;
				padding-left: 10px;
			}
			.table--body-data-output {
				font-family: 'Acari Sans', Arial, sans-serif;
				font-size: 16px;
				font-weight: 300;
				font-style: normal;
				padding-top: 7px;
				padding-left: 10px;
			}

#error {
	width: 100%;
	font-family: "Acari Sans", Arial, sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
}
